


@media all and (max-width:1199px){
    .footer{
        height: 200px;
    }
    .resultRight{
        height: 300px;
    }
    .headerHold{
        width:690px;
    }
    .search-bar {
        width: 82%;
    }
    .headerRight {
        margin-top: -98px;
    }

    .contect .contectList li {
        font-family: Poppins;
        font-size: 11px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.09;
        letter-spacing: 1.1px;
        text-align: center;
        list-style: none;
        display: inline-block;
        padding: 24px 2px 31px;
    }

    .contect .contectList .faq {
        margin-right: 22px;
    }


    .footer .boxFooter {
        /*margin-right: 152px;*/
        /*margin-left: 26px;*/
        /*margin-right: 127px;*/
    }

    .footer .boxFooter-1{
        margin-right: 127px;
      
    }
    
    .footer .footer-1{

        margin-top: 26px;
    }
    .footer .footer-1 .footerLeft{
        padding-left: 71px;
    }

    .footer .boxFooter{
        float: none;
        display: inline-block;
    }

    .contect .contectList li {
        margin-right: 73px;
    }
}

@media all and (max-width: 1067px){
    .header .tabsContainer{
        margin-left: -90px;
    }
}

@media all and (max-width:1024px){
    .headerHold {
        width: 635px;
        display: inline-block;
    }
}

@media all and (max-width: 998px){
    .header .tabsContainer {

        margin-left: -126px;
    }
}


@media all and (max-width: 991px){
    .headerHold{
        margin-left: 0;
    }
    .resultRight{
        display: none;
    }
    .search-bar {
        margin-top: 20px;
        position: relative;
        width: 80%;
    }
    .header .tabsContainer {
        margin-left: auto;
        width: 552px;
        /*overflow-x: scroll;*/
        flex: 0;
        position: absolute;
    }
    .tabsContainer .tabList{
        width: 684px;
    }
    .footer .footer-1{
        margin-left: 25px;
    }
    .footer .boxFooter-1 {
        margin-right: 90px;
    }
    .footer .footer-1 .footerLeft {
        padding-left: 0;
   
    }

    .contect .contectList li {
        margin-left: 8px;
    }

    .contentLeft{
        width: 440px;
    }
    .footer{
        height:213px
    }
    .headerRight {
        margin-top: -38px;
        margin-right: 50px;
    }
    .footer .boxFooter .menuFovter  {
              margin-right: 163px;

    }
    .contect .contectList li {
        margin-right: 8px;
    }


}


@media all and (max-width: 922px){
    .header .tabsContainer{
        margin-left: -38px;
    }
}


@media all and (max-width: 905px){
    .headerRight{
        display: none;
    }
}

@media all and (max-width: 781px){
    .header .tabsContainer{
        margin-left: -106px;
    }
}

@media all and (max-width: 767px){

    /*.news{*/
    /*    padding: 10px 18px 14px 10px;*/
    /*    border-radius: 6px;*/
    /*    border: solid 1px #dfe1e5;*/
    /*    background-color: #f3f4f6;*/
    /*    width: 567px;*/
    /*}*/


    .headerContent .logoContainer {

        margin: auto;
    }
    .headerContent .logoContainer a img {
        display: inline-block;
        max-width: 100%;
    }
    .header{
        height: 200px;
    }
    .headerRight {
        display: contents;
    }
    .headerRight .tree{
        left: 21px;
        top: 37px;
        position: absolute;
    }
    .headerRight .shield{
        display: none;
    }

    .headerRight .navbarMenu{
        right: 27px;
        top: 37px;
        position: absolute;
    }

    .headerContent {
         float: none;
    }


    .search-bar {
        margin-top: 20px;
        position: relative;
        width: 100%;
    }

    .tabsContainer .tabList {
        width: 690px;
        overflow-x: scroll;
    }
    .header .tabsContainer {
        margin-top: 12px;
        overflow-x: scroll;
        width: 513px;
        margin-left: 0;
    }


    .contect .contectList li {
        margin-left: 6px;
    }


    .contectList {
        margin-left: -29px
    }

    .footer .boxFooter-1 {
        margin-right: 5px;
    }

    .headerHold {

        margin-left: 0;
        width: 638px;

    }
    .footer {
        height: 269px;
    }
    .footer .boxFooter {
         margin-left: 0;
    }

    .contect .contectList .part-6{
        padding-top: 0;
    }
}

@media all and (max-width: 600px){
    .search-bar {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    /*.header .tabsContainer{*/
    /*    margin-left: -112px;*/
    /*}*/
}



@media all and (max-width: 583px){
    .header .tabsContainer {
        width: 435px;
        margin-left: 55px;
    }
    .news .content a {
        width: 480px;
    }
    .contentLeft {
        margin-left: 53px;
    }
    .footer{
        padding: 0;
    }
}

@media all and (max-width: 379px){

    .contect{
        margin-top: 21px;
    }
    .contect ul{
        display: contents;
    }
}

@media (max-width: 524px){
    .contectList {
        margin-left: 0;
    }
    
}

@media all and (max-width: 524px){
    .footer{
        height: 330px;
    }
  .footer .footer-1 {
  display: flex;
  }
    .contect .contectList .part-6{
        padding-left: 0;
    }
    .footer .boxFooter-1 {

        margin-top: 24px;
    }
    .footer .boxFooter {

        margin-top: 24px;
    }

    .header .tabsContainer {
        margin-left: 22px;
    }
    .contentLeft {
        margin-left: 0;
    }
}


@media all and (max-width:470px){
    .header{
        height: 200px;
    }
    .news .content a {
        width: 400px;
    }
    .search-bar{
        margin-left: auto;
        margin-right: auto;
    }
    .header .tabsContainer{
        margin-left:auto;
        margin-right: auto;
    }
    .headerRight {
        display:contents;
    }
    .headerRight .tree{
        top:24px;
        left: 12px;
        position:absolute;
    }
    .headerRight .shield{
        display:none;
    }
    .headerRight .navbarMenu{
        right: 38px;
        position: absolute;
        top: 20px;
    }


}



@media all and (max-width: 484px) {
    .footer{
        height: 350px;
    }
    .footer-1 {
        display: flex;
    }
    .contect .contectList .part-6 {
         padding-left: 0 ;
    }
    .footer .boxFooter-1 {
        margin-right: 5px;
        margin-bottom: 17px;
    }
    .footer .boxFooter-1 {

        margin-top: 26px;

    }
    .news .content a {
        width: 440px;


    }

    .footer .boxFooter {
        margin-top: 26px;
    }
}
@media (max-width: 456px)
.contentLeft {
    width: 422px;
}

@media all and (max-width:456px){
    .contentLeft {
        width: 433px;
    }
    .news .content a {
        width: 367px;
    }
    .switch{
        display: none;
    }
    .contentLeft {
        width: 422px;
    }
}

@media  all and (max-width: 430px) {
    .contentLeft .tools .switch {
        display: none;
    }
    .header .tabsContainer {
        width: 387px;
    }
    .contentLeft {
        width: 400px;
    }
}


@media all and (max-width:425px){
    .header .tabsContainer {
        width: 352px;
        margin-left: 17px;
    }
    .contentLeft {
        width: 351px;
    }

    .contentLeft .tools {
    width: 300px; /*366*/
        overflow-x: scroll;
        margin-left: 38px;
    }

    .contentLeft .tools ul {
        width: 500px;
    }

    .contentLeft .tools .switch {
        display: none;
    }

    .headerContent {
         margin-left: 0;
    }
}

@media all and (max-width:394px){
    .footer{
    height: 406px;
    }
    .contectList {
        margin-left: -5px;
    }
}


@media all and (max-width: 375px) {
    .header .tabsContainer {
        width: 345px;
    }
    .contentLeft .tools {

        margin-left: 0;
    }
    .contentLeft {
        width: 301px;
    }

    .news .content a {
        width: 330px;
    }

    .tools ul {
        padding: 0;
        margin-left: 7px;
    }

    .news .content a {
        width: 353px;


    }
}

@media all and (max-width: 365px) {
    .news .content a {
        width: 346px;
    }
}

@media all and (max-width:350px){
    .contect ul {
        display: grid;
    }
    .footer {
        height: 567px;
    }
}

@media all and (max-width: 348px){
    .header .tabsContainer {
        width: 300px;
    }
    .news .content a {
        width: 300px;


    }
    .footer {
        height: 567px;
    }
}

/*@media all and (max-width: 323px)*/
/*    .contentLeft {*/
/*        width: 301px;*/
/*    }*/

/*}*/

@media all and (max-width: 320px){
    .header .tabsContainer {
        width: 266px;
    }

    .contentLeft {
        width: 300px;
        margin-left: 0;
    }
    .contentLeft .tools {
        width: 300px;
        overflow-x: scroll;
    }

    .contectList {
        margin-left: -74px;
        display: grid;
    }
    .news .content a {
        width: 300px;
    }
    .contect .contectList li {
        padding-bottom: 0;
    }
    .footer{
        height: 385px;
    }
}
